<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<div class="first_block">

    <div class="header">
        <img class="logo" src="assets/images/logo.png">
        <div class="options">
                <a href="sobre" class="option">Ticktok</a>
                <a href="servicos" class="option">Instagram</a>
                <a href="galeria" class="option">Facebook</a>
                <a href="contato" class="option"></a>
        </div>
    </div>

    <div class="home_agendar">
        <label class="lb_titulo">Agende um Horário</label>
        <a class="bt_agendar" href="https://chat.whatsapp.com/LQyJLu1rcYRGVE4VmtkeA1">Agendar</a>
    </div>

</div>

<scroll-container>

<scroll-page id="sobre" class="sobre">
    <div class="textos">
        <label class="titulos">SOBRE A NOSSA BARBEARIA<br></label>
        <label class="lb_sobre">Império Barbearia foi fundada em 2010, pelo jovem José Rogério.
            Sonhando em crescer e se desenvolver como profissional,
            buscando sempre entregar seu melhor serviço aos clientes.<br>
        </label>
        <a class="saibaMais" routerLink="/home">Saiba mais</a>
    </div>
    <img class="images" src="assets/images/modelo02.jpg">
</scroll-page>

<scroll-page id="servicos" class="serviços">
    <label class="titulo_servicos">NOSSOS SERVIÇOS</label>
    <label class="lb_servicos">Qualidade e excelência são nossos pontos fortes.</label>
    <div class="img_servicos">
        <img class="images_servico" src="assets/images/servico01.jpg">
        <img class="images_servico" src="assets/images/servico02.jpg">
        <img class="images_servico" src="assets/images/servico03.jpg">
    </div>

</scroll-page>

<scroll-page id="galeria" class="galeria">

    <label class="titulo_servicos">GALERIA</label>
    <div class="img_galeria">
        <img class="images_galeria" src="assets/images/galeria01.jpg">
        <img class="images_galeria" src="assets/images/galeria02.jpg">
        <img class="images_galeria" src="assets/images/galeria03.jpg">
        <img class="images_galeria" src="assets/images/galeria04.jpg">
        <img class="images_galeria" src="assets/images/galeria05.jpg">
        <img class="images_galeria" src="assets/images/galeria06.jpg">
        <img class="images_galeria" src="assets/images/galeria07.jpg">
        <img class="images_galeria" src="assets/images/galeria08.jpg">
    </div>

</scroll-page>

<scroll-page id="contato" class="contato">

<div class="footer">
    <div class="foot">
        <label class="titulo_footer">Endereço</label>
        <label class="texto_footer">Rua Fulano de Tal - Natal/RN</label>
    </div>

    <div class="foot">
        <label class="titulo_footer">Dias e Horários</label>
        <label class="texto_footer">Terça a Sábado - 9:00 as 11:30 e 14:00 as 19:00</label>
    </div>

    <div class="foot">
        <label class="titulo_footer">Endereço</label>
        <label class="texto_footer">Rua Artesão Dary Miranda 408 - Natal/RN</label>
    </div>

</div>

</scroll-page>

</scroll-container>