/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

div{
    padding: 100px;
    background-color: #07fa6c;
}

.msg-error {
    background-color: #eb2731;
    color: #ffffff;
}

.msg-success {
    background-color: #07fa6c;
    color: #000000;
}